.datatable{
    height:500px;
    padding: 20px;
   

    .datatableTitle{
        width: 100%;
        font-size:20px;
        color:gray;
        margin-bottom: 10px;
        display:flex;
        align-items: center;
        justify-content: space-between;

        .import{
            font-size: 18px;
            border: 1px solid rgb(232, 227, 227);
            padding: 10px;
            border-radius: 5px;
            //background-color: darkblue;
        }
        .link{
            text-decoration: none;
            color: white;
            background-color: darkblue;;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;
    
        .viewButton{
            padding: 2px 5px;            
            border-radius: 2px;
            color: 213e88;
            //border: 1px dotted rgba(0,0,139,0.596);
            cursor: pointer;
            
    
        }
        a:link, a:visited {
            color: blue; /* Specify your desired link color */
            text-decoration: none; /* Remove underline if desired */
        }
        .editButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            //border: 1px dotted rgba(220,20,60,0.6);
            cursor: pointer;
        }
    }


}
